
.reminderManager {
    margin-top: 0.75rem;
}
  
  .reminderButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.675rem;
    gap: 1rem;
  }

  /* Sections */
.section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 16px;
    margin: 0 0 10px;
    color: #4b5563;
  }
  
  .dark h2 {
    color: #9ca3af;
  }
  
  
  .addButton {
    background-color: #3b82f6;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.275rem;
    cursor: pointer;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: #2563eb;
    }
  }
  
